{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cricket Schedule{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>Cricket Match Schedule</h1>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}" class="logout-button">Logout</a></p>
            {% else %}
                <a href="{% url 'login' %}">Login</a> | <a href="{% url 'sign_up' %}">Sign Up</a>
            {% endif %}
        </div>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
